<launch> 

<!-- AirSim ROS Wrapper -->
	<include file="$(find atypical_ros)/launch/airsim_car_node.launch"/>
<!-- Vehicle Dynamic Constraints -->
	<!-- <include file="$(find airsim_ros_pkgs)/launch/dynamic_constraints.launch"/> -->
<!-- Keyboard Operation with turtlebot3_teleop -->
	<!-- <include file="$(find atypical_ros)/launch/turtlebot.launch"/> -->

</launch>